.route {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 350px;
}

.routeSlider {
    width: 350px;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-color: #00000050;
}

.routeSlide{
    width: 100%;
    height: 350px;
}

.routeSlide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.routeInfo {
    width: calc(100% - 400px);
    height: 100%;
    padding: 20px 40px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.params {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.routeTags {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tag {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 100px;
    background-color: #F1F3F8;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
    gap: 8px;
}

.tag img {
    width: 21px;
    height: 21px;
    object-fit: contain;
}

.typeLight {
    background-color: #74D03A;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.typeQuestion {
    background-color: #D9D9D9;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding-top: 2px;
    cursor: pointer;
}

.typeText {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

.desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    width: 95%;
}

.routePlaces{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.routePlaces .title {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #767B78;
}

.place {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    cursor: pointer;
}

.places{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    color: #156A60;
}