.news {
    width: 100%;
    padding: 115px 0;
    color: #fff;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.news::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000075;
}

.img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 70px;
    border-bottom: 1px solid #fff;
    position: relative;
}

.bottom {
    padding-top: 70px;
    display: flex;
    gap: 80px;
    position: relative;
}

.tagDate {
    display: flex;
    align-items: center;
    gap: 18px;
}

.tag {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 3px 15px 2px;
    text-transform: uppercase;
    background-color: #66D7CA;
    border-radius: 100px;
}

.date {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 3px 15px 2px;
    text-transform: uppercase;
}

.title {
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;
}

.description {
    width: 80%;
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.button {
    font-weight: 500;
    font-size: 16px;
    padding: 18px 52px;
    border-radius: 30px;
    border: 1px solid #ffffff;
    transition: all 0.3s ease-in-out;
    width: 250px;
    text-align: center;
}

.button:hover {
    background-color: #ffffff;
    color: #000000;
}

.anotherNew {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 30px;
}

.info {
    width: calc(100% - 170px);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.shortTitle {
    font-weight: 500;
    font-size: 18px;
}

.loading {
    padding: 60px 0;
    text-align: center;
    font-size: 16px;
}