.place {
    width: 336px;
    height: 520px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    border-bottom: 1px solid #0000001A;
    display: flex;
}

.img {
    width: 100%;
    height: calc(100% - 25px);
}

.img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004D;
    z-index: 2;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 3;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    transform: translateY(140px);
}


.ratingFeedback {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 37px;
}

.rating {
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
    padding: 6px 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 5%;
    border: 2px solid #FFFFFF;
}

.rating img {
    width: 14px;
}

.feedback {
    border: 2px solid #FFFFFF;
    color: #fff;
    border-radius: 30px;
    padding: 6px 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 5%;
}

.text {
    width: 100%;
    height: fit-content;
    background-color: #fff;
    padding: 28px 37px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 25px;
    border: 1px solid #0000001A;
}

.placeName {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #525252;
}

.title {
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 0%;
}

.desc {
    display: flex;
    align-items: flex-end;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.descText {
    width: calc(100% - 40px);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0%;
}

.readMore {
    width: 39px;
    height: 39px;
}

.readMore img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.place:hover .info {
    transform: translateY(5px);
}

.place:hover .desc {
    opacity: 1;
}