.card {
    width: 100%;
    height: 510px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004D;
    z-index: 2;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.topLine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 27px;
    z-index: 3;
}

.verification,
.like {
    width: 28px;
    height: 28px;
}

.verification img,
.like img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 27px;
    color: #fff;
    z-index: 3;
}

.rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stars {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #fff;
    color: #000;
    border-radius: 35px;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 5%;
}

.stars img {
    width: 14px;
    height: 12px;
}

.feedback {
    border-radius: 35px;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 5%;
    border: 2px solid #FFFFFF
}

.name {
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0%;
}