.cards {
    display: flex;
    gap: 19px;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: -3px;
}

.tabs ul {
    display: flex;
    gap: 30px;
}

.tabs ul li {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.tabs .active,
.tabs ul li:hover {
    border-bottom: 5px solid #000;
}