.main {
  background-color: #F1F3F8;
  padding-top: 88px;
  width: 100%;
}

.placePage {
  padding: 30px 0;
}

.bread_crumbs {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  display: flex;
  gap: 5px;
  margin-bottom: 30px;
}

.bread_crumbs p,
.bread_crumbs a {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
}

.bread_crumbs a:hover {
  opacity: 1;
  border-bottom: 1px solid #000;
}

.placeBlock {
  width: 100%;
  margin-top: 50px;
}

.placeBlock_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0%;
  margin-top: 20px;
}

.placeInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.item {
  width: 24%;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #fff;
  padding: 16px;
  border-radius: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.textTitle {
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0%;
}

.textDesc {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.placeImage {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.placeImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}
