@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-gray-900 antialiased;
  }
}

@layer components {
  .container-content {
    @apply container mx-auto px-4 sm:px-6 lg:px-8;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* Использование CSS переменной из next/font */
  font-family: var(--font-montserrat), 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  /* Убираем padding-top, так как header должен накладываться поверх контента */
  /* padding-top: 80px; */
}

a {
  text-decoration: none;
}
/* 
.mySwiper  {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}

.mySwiper  .swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 26px;
  position: absolute;
  top: auto !important;
  bottom: -150px;
  left: 0 !important;
}

.mySwiper .swiper-button-next{
  left: 100px !important;
}

.mySwiper .swiper-button-prev {
  background-image: url('/slider-arrow-left.png');
}

.mySwiper .swiper-button-next {
  background-image: url('/slider-arrow-right.png');
}

.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
  content: '';
  display: none;
}

.mySwiper .swiper-navigation-icon{
  display: none;
} */
