.routeSeasoneBanner {
    width: 330px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
}

.patternBottom {
    z-index: 1;
    padding: 15px 20px 0 20px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 464px;
    overflow: hidden;
}

.logo img {
    object-fit: cover;
    height: 100%;
    transform: translateX(var(--translate-x, -400px));
    transition: transform 0.5s ease-in-out;
}

.routeSeasoneBanner[data-reset] .logo img {
    transition: none;
}

.patternTop {
    z-index: 3;
    padding: 0px 20px;
    margin-top: -15px;
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 30px 0 35px 0;
    text-transform: uppercase;
    z-index: 4;
}

@media (min-width: 320px) and (max-width: 1400px) {
    .routeSeasoneBanner {
        width: 100%;
        padding-top: 25px;
    }

    .title {
        font-size: 24px;
        margin: 15px;
    }

    .patternBottom svg {
        width: 140px;
        height: 100%;
        transform: scale(1.1);
    }

    .patternTop svg {
        width: 140px;
        height: 100%;
        transform: scale(1.1);
    }

    .patternTop,
    .patternBottom {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .patternTop{
        margin-top: 16px;
    }

    .logo {
        display: none;
    }
}