.main {
  background-color: #F1F3F8;
}

.flexBlock {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
}

.places {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.placesShow {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 20px;
}

.placesSort {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.placesSortSort {
  display: flex;
  align-items: center;
  gap: 10px;
}

.selectWrapper {
  min-width: 200px;
}

.placesSortSort .title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.placesSortFind {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
