.fullBlock {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    position: relative;
    margin-bottom: 50px;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004D;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    gap: 15px;
}

.title {
    font-weight: 700;
    font-size: 120px;
    line-height: 120%;
    letter-spacing: 0%;
}

.desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    width: 40%;
}

/* Адаптивность */
@media (max-width: 1600px) {
    .fullBlock {
        height: 500px;
        padding-top: 90px;
        margin-bottom: 44px;
    }

    .title {
        font-size: 80px;
    }

    .desc {
        width: 50%;
        font-size: 17px;
    }
}

@media (max-width: 1024px) {
    .fullBlock {
        height: 420px;
        padding-top: 80px;
        margin-bottom: 40px;
    }

    .title {
        font-size: 56px;
    }

    .desc {
        width: 60%;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .fullBlock {
        height: 360px;
        padding-top: 90px;
        margin-bottom: 32px;
    }

    .title {
        font-size: 40px;
    }

    .desc {
        width: 85%;
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .fullBlock {
        height: 300px;
        padding-top: 80px;
        margin-bottom: 24px;
    }

    .title {
        font-size: 28px;
    }

    .desc {
        width: 92%;
        font-size: 14px;
    }
}