@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-gray-900 antialiased;
  }
}

@layer components {
  .container-content {
    @apply container mx-auto px-4 sm:px-6 lg:px-8;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
}

/* Скрываем скролл до загрузки (JS потом уберёт когда загрузится) */
body.loading {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.mySwiper {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}


.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 26px;
  position: absolute;
  top: -100px !important;
  left: 0 !important;
}

.mySwiper .swiper-button-next {
  left: 100px !important;
}

.mySwiper .swiper-button-prev {
  background-image: url('/slider-arrow-left-black.png');
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

.mySwiper .swiper-button-next {
  background-image: url('/slider-arrow-right-black.png');
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

.mySwiper .swiper-button-prev:hover,
.mySwiper .swiper-button-next:hover {
  box-shadow: 5px 5px 10px #0000001c;
  transform: translateY(1px);
  opacity: 1;
}


.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
  content: '';
  display: none;
}

.mySwiper .swiper-navigation-icon {
  display: none;
}

.routeSlider .swiper-button-prev,
.routeSlider .swiper-button-next {
  transition: all 0.2s ease-in-out;
  color: #fff;
  opacity: 0;
}

.routeSlider .swiper-button-prev svg,
.routeSlider .swiper-button-next svg {
  width: 30px;
  height: 30px;
}

.routeSlider:hover .swiper-button-prev,
.routeSlider:hover .swiper-button-next {
  opacity: 1;
}

.mySwiper .swiper-button-prev:hover,
.mySwiper .swiper-button-next:hover {
  opacity: 1;
}



.mySwiperRoute {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}


.mySwiperRoute .swiper-button-prev,
.mySwiperRoute .swiper-button-next {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 26px;
  position: absolute;
  left: auto !important;
  top: -100px !important;
  right: 100px !important;
}

.mySwiperRoute .swiper-button-next {
  right: 0px !important;
}

.mySwiperRoute .swiper-button-prev {
  background-image: url('/slider-arrow-left-black.png');
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

.mySwiperRoute .swiper-button-next {
  background-image: url('/slider-arrow-right-black.png');
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

.mySwiperRoute .swiper-button-prev:hover,
.mySwiperRoute .swiper-button-next:hover {
  box-shadow: 5px 5px 10px #0000001c;
  transform: translateY(1px);
  opacity: 1;
}


.mySwiperRoute .swiper-button-prev::after,
.mySwiperRoute .swiper-button-next::after {
  content: '';
  display: none;
}

.mySwiperRoute .swiper-navigation-icon {
  display: none;
}

/* Исправление z-index для полноэкранного режима Яндекс.Карт */
/* Яндекс.Карты создают полноэкранный контейнер, который должен быть выше модалки (z-index: 10001) */
.ymaps-fullscreen,
[class*="ymaps-fullscreen"],
body > div[style*="position: fixed"][style*="z-index"],
div[class*="ymaps"][style*="position: fixed"] {
  z-index: 10002 !important;
}

/* Также для контейнера карты в полноэкранном режиме */
.ymaps-fullscreen-control,
[class*="ymaps-fullscreen-control"] {
  z-index: 10002 !important;
}


ymaps{
  z-index: 100002 !important
}