.carousel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.carousel .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
}

.carousel .list .item .image {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.carousel .list .item .image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top,
      #00000062 0%,
      #00000062 50%,
      #00000062 100%);
  ;
}

.carousel .list .item .image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 20px; */
}

.carousel .list .item .content {
  position: absolute;
  top: 150px;
  width: 1400px;
  max-width: 90%;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 5px 10px #0000001c;
}

.carousel .list .item .content .des {
  width: 35%;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-top: 25px;
}

.carousel .list .item .content .place {
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.carousel .list .item .content .place img {
  width: 16px;
  /* height: 30px; */
}

.carousel .list .item .content .title {
  font-weight: bold;
  font-size: 100px;
  line-height: 1.3em;
}

.carousel .list .item .content .topic {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.carousel .list .item .content .topic .stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.carousel .list .item .content .topic .rating {
  font-weight: 500;
  font-size: 20px;
  margin-top: 2px;
}

.carousel .list .item .content .topic .stars img {
  width: 21px;
  height: 20px;
}

.carousel .list .item .content .buttons {
  margin-top: 40px;
}

.carousel .list .item .content .ctaLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  padding: 18px 58px;
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
}

.carousel .list .item .content .ctaLink:hover {
  background: #FFFFFF38;
  border: 2px solid transparent;
  box-shadow: 5px 5px 10px #0000001c;
  transform: translateY(1px);
  color: #fff;
}

.carousel .list .item .content button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  padding: 18px 58px;
  transition: all 0.3s ease-in-out;
}

.carousel .list .item .content button:hover {
  background: #FFFFFF38;
  border: 2px solid transparent;
  box-shadow: 5px 5px 10px #0000001c;
  transform: translateY(1px);
}

.carousel .list .item .content button:nth-child(2) {
  background-color: transparent;
  color: #eee;
  border: 1px solid #eee;
}

.thumbnail {
  position: absolute;
  bottom: 150px;
  left: 45%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 260px;
  height: 400px;
  flex-shrink: 0;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.thumbnail .item::before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background: linear-gradient(to top,
      #00000062 0%,
      #0000003a 50%,
      #00000000 100%);
  ;
}

.thumbnail .item>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.thumbnail .item .content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnail .item .content .title {
  font-weight: 600;
  font-size: 24px;
}

.thumbnail .item .content .place {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.thumbnail .item .content .place img {
  width: 15px;
  height: 19px;
}

.arrows {
  position: absolute;
  bottom: 30px;
  left: 45%;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  z-index: 100;
  width: 45%;
}

.arrows .buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.arrows .line {
  width: 100%;
  height: 3px;
  background-color: #ffffff54;
}

.arrows .slidesNum {
  color: #fff;
  font-weight: 700;
  font-size: 64px;
  width: 80px;
}

.time {
  width: 0%;
  height: 3px;
  background-color: #fff;
  z-index: 999;
}

.carousel.next .time,
.carousel.prev .time {
  width: 100%;
  animation: timeRunning 500ms 0s reverse 1 forwards;
}

.arrows button {
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.arrows button:hover {
  background: #FFFFFF38;
  border: 2px solid transparent;
  box-shadow: 5px 5px 10px #0000001c;
  transform: translateY(1px);
}

.arrows button>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel .list .item:nth-child(1) {
  z-index: 1;
}

.carousel .list .item:nth-child(1) .place,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .des,
.carousel .list .item:nth-child(1) .buttons {
  transform: translateY(50px);
  /* filter: blur(20px); */
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
  }
}

.carousel .list .item:nth-child(1) .place {
  animation-delay: 0.5s;
}

.carousel .list .item:nth-child(1) .title {
  animation-delay: 0.7s;
}

.carousel .list .item:nth-child(1) .topic {
  animation-delay: 0.8s;
}

.carousel .list .item:nth-child(1) .des {
  animation-delay: 1.1s;
}

.carousel .list .item:nth-child(1) .buttons {
  animation-delay: 1.3s;
}

.carousel.next .list .item:nth-child(1) .image {
  width: 260px;
  height: 400px;
  position: absolute;
  left: 45%;
  bottom: 150px;
  border-radius: 20px;
  animation: showImage 0.5s 0s linear 1 forwards;
}

@keyframes showImage {
  to {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  width: 0;
  overflow: hidden;
  animation: showThumbnail 0.5s 0s linear 1 forwards;
}

@keyframes showThumbnail {
  to {
    width: 260px;
  }
}

.carousel.next .thumbnail {
  transform: translateX(260px);
  animation: transformThumbnail 0.5s 0s linear 1 forwards;
}

@keyframes transformThumbnail {
  to {
    transform: translateX(0px);
  }
}

.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) .image {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: outImage 0.5s 0s linear 1 forwards;
  overflow: hidden;
  border-radius: 20px;
}

@keyframes outImage {
  to {
    width: 260px;
    height: 400px;
    border-radius: 20px;
    left: 45%;
    bottom: 150px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s 0s linear 1 forwards;
}

.carousel.prev .list .item:nth-child(2) .place,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .des,
.carousel.prev .list .item:nth-child(2) .buttons {
  animation: contentOut 0.5s 0s linear 1 forwards;
}

@keyframes contentOut {
  to {
    transform: translateY(-60px);
    filter: blur(20px);
    opacity: 0;
  }
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}



@keyframes timeRunning {
  to {
    width: 0%;
  }
}


@media screen and (max-width: 678px) {
  .carousel .list .item .content {
    padding-right: 0;
  }

  .carousel .list .item .content .title {
    font-size: 30px;
  }
}