@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0 30px;
  z-index: 9999;
  /* overflow: hidden; */
}

.wrapper:hover .track {
  animation-play-state: paused;
}

.sliderLine {
  width: 100%;
}

.track {
  display: flex;
  width: max-content;
  animation: marquee linear infinite;
}

.trackReverse {
  animation-direction: reverse;
}

.trackContent {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-shrink: 0;
  padding: 0 10px;
}

.tag {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border-radius: 100px;
  border: 1px solid #000;
  background: #fff;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  white-space: nowrap;
  width: fit-content;
  flex-shrink: 0;
  transition: background 0.2s, color 0.2s;
}

.tag:hover {
  background: #06101c;
  color: #fff;
  border-color: #06101c;
}

.tag:hover .circle {
  transform: translate(-50%, 0);
  opacity: 1;
  transition: opacity 0.4s ease-in, transform 0.4s ease-in;
}

.tagText {
  position: relative;
  z-index: 1;
}

.circle {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50px);
  margin-bottom: 12px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  background: #f1f3f8;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  border: 5px solid #fff;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
