.main {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: 0;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin: 90px 0;
}

.flexBlock{
  display: flex;
  justify-content: space-between;
  
}