.main {
  width: 100%;
  position: relative;
  margin-top: 0;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin: 90px 0 0;
}

.flexBlock{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 19px;
}

.imgBG{
  width: 100%;
  height: fit-content;
  margin-top: -150px;
  position: relative;
}

.imgBG::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(6, 16, 28, 0) 0%, #06101C 100%);
}

.imgBG img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.placesLoading {
  padding: 40px;
  text-align: center;
  color: #666;
}

.placesLoadingFull {
  grid-column: 1 / -1;
}